## .NET Core / Visual Studio / VS Code ignore file

# Build results
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Tt]emp/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Operating System files
.DS_Store
Thumbs.db